*{
    margin: 0;
    padding: 0;
    font-size: 1.0rem;
    font-family: Arial;
    list-style: none;
}

#link1,#link2{
    margin: 10px;
    color: white;
    padding: 10px;
    text-decoration:none;
    background-color: rgb(255, 94, 0);
    border-radius: 3px;
}

.header{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background: black;
    align-items: center;
    width: 100%;
}

#titulo{
    color: white;
    font-size: 2.0rem;
}

.botaoTeclado{
    height: 40px;
    width: 40px;
}

.espacoForca{
    width: 30%;
    height: 100%;
}

#imgBonecoJogo{
    width: 100%;
    height: 100%;
}

.espacoPalavra{
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(5,1fr);
}

body{
    background-color: #f4dbc1;
}

@media screen and (max-width:900px){
    #botoesTP{
        height: 100%;
        margin: 2px 0 0 0;
    }
    #telaTP{
        margin: 20px;
    }
    #tecladoTP{
        width: 604px;
        height: 104px;
    }
}


#botaoVoltar,#botaoReiniciar{
    width: 98px;
    height: 70px;
    margin: 2px;
}

#botaoDica{
    width: 202px;
    height: 70px;
    margin: 2px;
}
.tela{
    display: flex;
    width: 600px;
    height: 200px;
    margin: 20px 0 20px 90px;
    border: 2px black solid;
    background-color: white;
}

.teclado{
    width: 100%;
    height: 100px;
    border: rgb(128, 0, 0) solid 2px;
    background-color: black;
    grid-row: 2;
    grid-column: 2;
}

.jogo{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.letra{
    grid-row: 4;
    font-size: 1.8rem;
    padding: 6px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
}

.letrasErradas{
    grid-row: 2;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 4px;
}

.mensagem{
    width: 280px;
    height: 100px;
    border: rgb(255, 94, 0) solid 1px;
    background-color: rgb(255, 94, 0);
    position: absolute;
    margin-left: 40%;
    margin-top: 76px; 
    border-radius: 25px;  
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteudo h1{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.conteudo p{
    padding: 5px;
    font-size: 1.2rem;
}

.mensagem::before{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom: -12px;
    border-radius: 5px;
    transform: rotate(45deg);
}

.botaoFechar{
    position: absolute;
    min-width: 40px;
    height: 40px;
    background-color: rgb(255, 94, 0);
    bottom: -70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: black solid 2px;
}


.botaoFechar:hover{
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
}

.botaoFechar::before{
    content: '+';
    font-size: 2.5em;
    color: black;
    transition: 0.5s;
    transform: rotate(135deg);
}

.botaoFechar:hover::before{
    color: white;
    transition: 0.5s;
}


@media screen and (max-width:1082px){
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        width: 100px;
        height: 40px;
        margin: 4px;
    } 
    #telaTP{
        width: 99%;
        margin: 2px 0 2px 0;
    }
    #botoesTP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mensagem{
        margin-left: 40%;
        margin-top: 56px; 
    }
}

@media screen and (max-width:888px){
    #telaTP{
        margin-top: 1px;
    }
    #botaoDica{
        width: 90px;
        height: 40px;
    }
    #botaoVoltar,#botaoReiniciar{
        width: 90px;
        height: 40px;
    } 
    .jogo{
        grid-template-rows: 1fr 108px;
    }

}

@media screen and (max-width:709px){
    .jogo{
        grid-template-columns: 1fr 3fr;
    }
    #telaTP{
        width: 500px;
        margin: 2px;
    }
    #tecladoTP{
        width: 500px;
    }
    .mensagem{
        margin-left: 54%;
    }
}

@media screen and (max-width:635px){
    .header{
        justify-content: center;
        
    }
    h1{
        font-size: 2rem;
    }  
    #jogoTP{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #botoesTP{
        flex-direction: row;
    }
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        margin: 2px 2px;
    } 
    #tecladoTP{
        width: 99%;
    }
    #telaTP{
        width: 99%;
    }
    .mensagem{
        height: 140px;
        width: 270px;
        margin-left: 15%;
        margin-top: 80px;
    }
}

@media screen and (max-width:340px){
    #titulo{
        font-size: 1.2rem;
    }
    #telaTP{
        margin: 2px;
    }
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        width: 90px;
        height: 20px;
        margin: 4px;
    } 
    .mensagem{
        width: 212px;
        height: 85px;
        margin-top: 71px;
        margin-left: 25%;
    }
    .conteudo h1{
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .conteudo p{
        padding: 5px;
        font-size: 1.0rem;
    }
}