*{
    margin: 0;
    padding: 0;
    font-size: 1.0rem;
    font-family: Arial;
    list-style: none;
}

#link1,#link2{
    margin: 10px;
    color: white;
    padding: 10px;
    text-decoration:none;
    background-color: coral;
    border-radius: 3px;
}

.header{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background: black;
    align-items: center;
    width: 100%;
}

#titulo{
    color: white;
    font-size: 2.0rem;
}

body{
    background-color: #f4dbc1;
}

@media screen and (max-width:900px){
    #botoesTP{
        height: 100%;
        margin: 2px 0 0 0;
    }
    #telaTP{
        margin: 20px;
    }
    #tecladoTP{
        width: 604px;
        height: 104px;
    }
}


#botaoVoltar,#botaoReiniciar{
    width: 98px;
    height: 70px;
    margin: 2px;
}

#botaoDica{
    width: 202px;
    height: 70px;
    margin: 2px;
}
.tela{
    width: 600px;
    height: 200px;
    margin: 20px 0 20px 90px;
    border: 2px black solid;
    background-color: white;
}

.teclado{
    width: 100%;
    height: 100px;
    border: rgb(128, 0, 0) solid 2px;
    background-color: black;
    grid-row: 2;
    grid-column: 2;
}

.jogo{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width:1082px){
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        width: 100px;
        height: 40px;
        margin: 4px;
    } 
    #telaTP{
        width: 99%;
        margin: 2px 0 2px 0;
    }
    #botoesTP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:888px){
    #telaTP{
        margin-top: 1px;
    }
    #botaoDica{
        width: 90px;
        height: 40px;
    }
    #botaoVoltar,#botaoReiniciar{
        width: 90px;
        height: 40px;
    } 
    .jogo{
        grid-template-rows: 1fr 108px;
    }
    
}

@media screen and (max-width:709px){
    .jogo{
        grid-template-columns: 1fr 3fr;
    }
    #telaTP{
        width: 500px;
        margin: 2px;
    }
    #tecladoTP{
        width: 500px;
    }
}

@media screen and (max-width:635px){
    .header{
        justify-content: center;
        
    }
    h1{
        font-size: 2rem;
    }  
    #jogoTP{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #botoesTP{
        flex-direction: row;
    }
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        margin: 2px 2px;
    } 
    #tecladoTP{
        width: 99%;
    }
    #telaTP{
        width: 99%;
    }
}

@media screen and (max-width:340px){
    #titulo{
        font-size: 1.2rem;
    }
    #telaTP{
        margin: 2px;
    }
    #botaoVoltar,#botaoReiniciar,#botaoDica{
        width: 90px;
        height: 20px;
        margin: 4px;
    } 
}